name: Update Dockerhub description

on:
  workflow_dispatch:
  workflow_run:
    workflows: [GitHub CI]
    types: [completed]
    branches: [mainline]

jobs:
  update-dockerhub:
    name: Update Dockerhub description
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_REPOSITORY }}
          readme-filepath: ./dockerhub-description.md
          short-description: 'Valkey is a high-performance data structure server that primarily serves key/value workloads.'